
  <%- include('../layout/header') %>
<%- include('../layout/side') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><center>Family Registration Form</center></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/index">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
     


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
  
                
             
              
              <form role="form" action="/admin/fam_mem_registration" method="post" enctype="multipart/form-data">
                
                

                  <input type="hidden" name="family_code" value="<%= data %>"
                  <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">first name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="first_name">
                  </div>
                  </div>
                  <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Last name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="last_name">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Address</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="address">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">DOB</label>
                  <div class="col-sm-10">
                    <input type="date" name="dob" >
                  </div>
               </div>
               
                 <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Relation</label>
                  <div class="col-sm-10">
                    <select name="relation">
                     <option value="father">Father</option>
                     <option value="mother">Mother</option>
                     <option value="gfather">Grand Father</option>
                     <option value="gmother">Grand Mother</option>
                     <option value="brother">Brother</option>
                     <option value="sister">Sister</option>
                     <option value="son">Son</option>
                     <option value="daughter">Daughter</option>
                    </select>
                  </div>
                </div>
               <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Gender</label>
                  <div class="col-sm-20">
                    <input type="radio" name="gender" value="Male">Male 
                    <input type="radio" name="gender" value="Female">Female 
                    <input type="radio" name="gender" value="Others">Others 
                  </div>
                </div>

               <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Phone Number</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="pno">
                  </div>
                </div>

                 <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Email ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="email">
                  </div>
                </div>

                

                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password">
                  </div>
                </div>
                  
                

                 <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">ward</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="ward">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Panchayath</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="pan">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Taluk</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="taluk">
                  </div>
                </div>


                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">District</label>
                  <div class="col-sm-10">
                    
                        <select id="districts" name="dis">

                          <option value="1">Kasargod</option>
                          <option value="2">Kannur</option>
                          <option value="3">Calicut</option>
                          <option value="4">Wayanad</option>
                          <option value="5">Palakad</option>
                          <option value="6">Malapuram</option>
                          <option value="7">Thrissur</option>
                          <option value="8">Ernakulam</option>
                          <option value="9">Idukki</option>
                          <option value="10">Kottayam</option>
                          <option value="11">Alapuzha</option>
                          <option value="12">Kollam</option>
                          <option value="13">Pathanamthitta</option>
                          <option value="14">Trivandrum</option>
                         
                         </select>
                    
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">State</label>
                  <div class="col-sm-10">
                    
                        <select id="state" name="state">

                          <option value="1">kerala</option>
                          <option value="2">TN</option>
                          <option value="3">Karnataka</option>
                          <option value="4">AP</option>
                          <option value="5">Maharashtra</option>
                          <option value="6">Goa</option>
                          <option value="7">Punjab</option>
                          <option value="8">Rajasthan</option>
                          
                         
                         </select>
                    
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-5 col-sm-5 control-label">Pincode</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="pin">
                  </div>
                </div>

                 <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Address Proof</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" id="gallery-photo-add" onchange="loadFile(event)"  name="image" multiple>
                    
                     
                  </div>
                  </div>

                  
                

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
         </div>

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

   </div><!-- /.container-fluid -->
    </section>

  <%- include('../layout/footer') %>