  
      <!-- Bottom Footer -->
      <section class="padding background-dark full-width">
        <div class="s-12 l-6">
          <p class="text-size-12"></p>
          <p class="text-size-12"></p>
        </div>
        <div class="s-12 l-6">
          <a class="right text-size-12" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework"></a>
        </div>
      </section>
    </footer>
    <script type="text/javascript" src="web_home/js/responsee.js"></script>
    <script type="text/javascript" src="web_home/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="web_home/js/template-scripts.js"></script>
  </body>
</html>