<!DOCTYPE html>
<!-- saved from url=(0048)../../assets/about.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="../../assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/line-awesome-font-awesome.min.css">
<link href="../../assets/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/slick-theme.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/responsive.css">
</head>
<body></body>
<footer>
<div class="footy-sec mn no-margin">
<div class="container">
<ul>
<li><a href="../../assets/help-center.html" title="">Help Center</a></li>
<li><a href="../../assets/about.html" title="">About</a></li>
<li><a href="../../assets/about.html#" title="">Privacy Policy</a></li>
<li><a href="../../assets/about.html#" title="">Community Guidelines</a></li>
<li><a href="../../assets/about.html#" title="">Cookies Policy</a></li>
<li><a href="../../assets/about.html#" title="">Career</a></li>
<li><a href="../../assets/forum.html" title="">Forum</a></li>
<li><a href="../../assets/about.html#" title="">Language</a></li>
<li><a href="../../assets/about.html#" title="">Copyright Policy</a></li>
</ul>
<p><img src="../../assets/images/copy-icon2.png" alt="">Copyright 2019</p>
<img class="fl-rgt" src="../../assets/images/logo2.png" alt="">
</div>
</div>
</footer>
<script type="text/javascript" src="../../assets/css/jquery.min.js.download"></script>
<script type="text/javascript" src="../../assets/css/popper.js.download"></script>
<script type="text/javascript" src="../../assets/css/bootstrap.min.js.download"></script>
<script type="text/javascript" src="../../assets/css/flatpickr.min.js.download"></script>
<script type="text/javascript" src="../../assets/css/slick.min.js.download"></script>
<script type="text/javascript" src="../../assets/css/script.js.download"></script>

<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;" src="../../assets/css/saved_resource(2).html"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}" style="display: none;"></div><script src=".../../assets/css/1f546f49ebf4153c8a.js.download"></script>
</html