<!DOCTYPE html>
<!-- saved from url=(0048)../../assets/about.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="../../assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/line-awesome-font-awesome.min.css">
<link href="../../assets/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/slick-theme.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/responsive.css">
</head>
<body oncontextmenu="return false;" data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">
<header>
<div class="container">
<div class="header-data">
<div class="logo">
<img src="web_home/img/missionlogo.jpeg" alt="">
</div>

<nav>
<ul>
<li>
<a href="/userhome" title="">
<span><img src="../../assets/images/icon1.png" alt=""></span>
Home
</a>
</li>


<li>
<a href="/userhome" title="">
<span><img src="../../assets/images/icon4.png" alt=""></span>
Profiles
</a>
<ul>

<li><a href="userhome" title="">My profile </a></li>
<li><a href="/groups" title="">Groups</a></li>
</ul>
</li>
<!--
<li>
<a href="/fund_statement" title="">
<span><img src="../../assets/images/icon5.png" alt=""></span>
Fund
</a>
<ul>
<li><a href="/fund_statement" title="">view</a></li>


</ul>
</li>
-->
<li>
<a href="/req_received" title="">
<span><img src="../../assets/images/icon5.png" alt=""></span>
requests
</a>
<ul>
	<!--
<li><a href="/req_need" title="">Requests Form</a></li>
-->
<li><a href="/req_received" title=""> view Requests </a></li>

</ul>
</li>

<li>USER ID: <%= locals.user.mem_code %> </li>

</ul>
</nav>
<div class="menu-btn">
<a href="../../assets/about.html#" title=""><i class="fa fa-bars"></i></a>
</div>
<div class="user-account">
<div class="user-info">

<a href="/" title="">Logout</a>

</div>

</div>
</div>
</div>
</header>
</body>
</html>