<div class="col-lg-3 col-md-4 pd-left-none no-pd">
<div class="main-left-sidebar no-margin">
<div class="user-data full-width">
<div class="user-profile">
<div class="username-dt">
<% if(locals.user){
%>
<h1> <center>  <%- user.first_name %></center> </h1>

<% } %>
<div class="usr-pic">

</div>
</div>

</div>
<ul class="user-fw-status">
<li>
<a href="add" title="">ADD A MEMBER</a>
</li>

<li>
<a href="group_form" title="">CREATE GROUPS</a>
</li>
</ul>
</div>
<div class="suggestions full-width">
<div class="sd-title">
<h3>Groups</h3>
<!-- <i><a href="join_gp">Join a group</a></i> -->
</div>
<div class="suggestions-list">






<div class="view-more">
<a href="groups" title="">View More</a>
</div>
</div>
</div>

</div>
</div>