
<%- include('partials/f_header'); -%>

 
       <main role="main">
      
      <!-- Content -->
      <article>
        

        
        <div class="section background-white"> 
          <div class="line">
            <div class="margin">
              <div class="s-12 m-6 l-4">
                <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                 
         
                </div>  
              </div>
              <div class="s-12 m-6 l-4">
                               <form name="contactForm" class="customform"  method="POST" action="/sign">
                  <div class="line">
                    <div class="margin">
                      <div class="s-12 ">
                        <input name="email" value="" class="required email" placeholder="Your e-mail" title="Your e-mail" type="text" />
                        <p class="email-error form-error">Please enter your e-mail.</p>
                      </div>



                     
                    </div>
                    <div class="s-12"> 
                    <input   type="password"  name="password" placeholder="password" title="Password" type="text" />
                    <p class="subject-error form-error">Please enter your Password.</p>
                  </div>
                 
                  </div>
                 
                 
                  <div class="s-12"><button class="s-12 submit-form button background-primary text-white" type="submit">Login</button>

                  </div>
                  
                </form>
              </div>
             
            
             
            
            </div>  
          </div>
        </div> 
        
      </article>

    </main>
     

                  