
<%- include('../partials/f_header'); -%>

 <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-dark">
          <div class="line">        
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">About Us</h1>
            
          </div>  
        </header>
        <div class="section background-white"> 
          <div class="line">  
            <h4 class="margin-bottom-0 text-size-40"><center>MISSION JP4</center></h4>
            <hr class="break-small background-primary margin-bottom-30">
            <p>Charity is the act of extending love and kindness to others unconditionally, which is a conscious act but the decision is made by the heart, without expecting a reward. When Charity is carried out selflessly, it is a one-way act where a person gives but asks for nothing in return.It is this act of nature that makes it precious and soulful. There are people who believe charity should begin at home but others believe it should originate from the heart. However, charity originates from the heart as you feel the urge of giving, begins from home, ultimately extending to others in the society.

</p>
            <p>
            Charitable organization is a kind of institution that falls under the category of non-profit organization. It can be run privately as well as publicly. This type of organization is often called a foundation or charity.
             A charity is something which is gifted or donated to an organization or an individual to help them or to benefit them.This is generally gifted to make sure that it will help the person and get some kind of relief from their problems. There are many people around our locality who are still under poverty, who cannot get a proper treatment or provide proper education to their children. 
            </p> 
            <blockquote class="margin-top-bottom-20">
              <h3 class="text-size-20 text-line-height-1 margin-bottom-15">WHAT IS MISSION JP4??</h3>
            MISSION JP4 is an organization whose primary objective is the social well-being of common people.
            This organization make sure to provide a financial support to the people who are part of this organization in need of any crisis. Mission JP4 is an organization which help people without any discrimination on the basis of any factor like religion, financial stability,or any other. This organization is not working under any religious organization.
            </blockquote>
            
            <div class="line margin-top-30">
              <div class="margin">
                <div class="s-12 m-6 l-6">
                  <img src="web_home/img/1.jpg" alt="">
                  <p class="margin-top-30">
                  
                  </p>
                </div>
                <div class="s-12 m-6 l-6">
                  <img src="web_home/img/4.jpg" alt="">
                  <p class="margin-top-30">
                  
                  </p>
                </div>
              </div>
            </div>      
          </div>
        </div> 
      </article>
    </main>
 <%- include('../partials/f_footer'); -%> 
